/* Buttons */

h2 {
    margin-bottom: 10px;
}

.primary {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.default {
    padding: 10px;
    display: flex;
    align-items: center;
}

.primary_btn {
    height: 55px;
    width: 155px;
    background: inherit;
    border: solid 2px black;
    border-radius: 3px;
    font-size: 100%;
}

p {
    margin-left: 20px;
    font-size: 18px;
}

.primary_btn_hover {
    height: 65px;
    width: 165px;
    background: inherit;
    border: solid 2px black;
    border-radius: 3px;
    font-size: 100%;
}

.alternative{
    background-color: rgba(8, 45, 114, 0.719) ;
    height: 100%;
    width: 300px;
    margin-bottom: 20px;
}

.alternative_btn {
    height: 55px;
    width: 155px;
    background: inherit;
    border: solid 2px white;
    border-radius: 3px;
    font-size: 100%;
    color: white;
}

.alternative_btn_hover {
    height: 65px;
    width: 165px;
    background: inherit;
    border: solid 2px white;
    border-radius: 3px;
    font-size: 100%;
    color: white;
}

.vote_btn {
    height: 55px;
    width: 155px;
    background: #ff4747;
    border: solid 2px #ff4747;
    border-radius: 3px;
    font-size: 100%;
    color:white
}

.vote_btn_hover {
    height: 65px;
    width: 165px;
    background: #ff4747;
    border: solid 2px #ff4747;
    border-radius: 3px;
    font-size: 100%;
    color: white;
}

/*STYLE FONT*/
@font-face {
    font-family: EA-fontlight;
    src: url(ElectronicArtsText-Light.woff2);
}

@font-face {
    font-family: EA-fontbold;
    src: url(ElectronicArtsText-Bold.woff2);
}

@font-face {
    font-family: EA-fontregular;
    src: url(ElectronicArtsText-Regular.woff2);
}

h3,
h4 {
    font-family: EA-fontbold;
}

h5 {
    font-family: EA-fontregular;
}

h6 h2 {
    font-family: EA-fontlight;
}

p {
    font-size: 11px;
}

img {
    margin: 10px;
}