/* Var */

:root {
  --red: #ff4747;
  --blue: #6fb0d6;
  --gray: #f3f3f3;
}

/* Buttons */

h2 {
  margin-bottom: 10px;
}

.primary {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.default {
  padding: 10px;
  display: flex;
  align-items: center;
}

.btn {
  height: 55px;
  width: 155px;
  background: inherit;
  border: solid 2px;
  border-radius: 3px;
  font-size: 100%;
}

.btn:hover {
  height: 65px;
  width: 165px;
  font-size: 100%;
}

p {
  margin-left: 20px;
  font-size: 18px;
}

.alternative {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 300px;
}

.alternative_btn {
  border: solid 2px white;
  color: white;
}

.vote_btn {
  background: var(--red);
  border: solid 2px var(--red);
  color: white;
}

.result_btn {
  background-color: white;
  border: white;
  font-size: large;
  font-weight: bold;
}

/*STYLE FONT*/
@font-face {
  font-family: EA-fontlight;
  src: url(ElectronicArtsText-Light.woff2);
}

@font-face {
  font-family: EA-fontbold;
  src: url(ElectronicArtsText-Bold.woff2);
}

@font-face {
  font-family: EA-fontregular;
  src: url(ElectronicArtsText-Regular.woff2);
}

h3,
h4 {
  font-family: EA-fontbold;
}

h5 {
  font-family: EA-fontregular;
}

h6 h2 {
  font-family: EA-fontlight;
}

p {
  font-size: 11px;
}

img {
  margin: 10px;
}

/* Colors */

.container {
  display: flex;
  background-color: rgb(157, 196, 248);
  flex-wrap: wrap;
  height: 30vh;
  width: 30vh;
  justify-content: space-around;
}

.color {
  padding: 10px 10px 0px 10px;
  height: 30px;
  width: 80px;
}

.color p {
  font-size: large;
  font-weight: bold;
  padding-top: 0;
  margin: auto;
}

.red {
  background-color: var(--red);
}

.blue {
  background-color: var(--blue);
}

.gray {
  background-color: var(--gray);
}

/* Cards */

.card-container {
  margin-top: 120px;
}

.card-container h2 {
  margin-bottom: 12px;
}

#card {
  height: 60vh;
  width: 18vw;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 5px 5px grey;
  transition: 0.5s;
}

#card:hover {
  transform: translateY(-5px);
  transition: 0.5s;
  box-shadow: 0px 15px 15px grey;
}

.img-placeholder {
  background-color: rgba(160, 156, 156, 0.616);
  width: 100%;
  height: 30%;
}

.card-body {
  display: flex;
  flex-direction: column;
  height: 60%;
  padding: 15px;
  padding-top: 0;
}

.card-header {
  display: flex;
  width: 100%;
  align-items: center;
  margin-bottom: 0;
}

.card-header img {
  height: 50px;
  width: 100px;
}

.date {
  font-size: 15px;
  font-weight: bold;
}

.card-text {
  display: flex;
  flex-direction: column;
  margin: 0 18px;
}

.card-text p {
  font-size: 18px;
  margin-left: 0;
  margin-top: 0;
}

/* Cards-Giochi */
.card-giochi {
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px black;
  background-image: url("");

  background-size: cover;
  position: relative;
  height: 330px;
  width: 310px;
  margin-top: 10px;
}

.card-giochi-nome {
  position: relative;
  transition: 2s;
}

.card-giochi-testo {
  position: relative;
  opacity: 0;
}

.card-giochi:hover .card-giochi-testo {
  opacity: 1;
  bottom: 40px;
  margin-left: 50px;
}

.card-giochi:hover .card-giochi-nome {
  bottom: 50px;
  padding-bottom: 0px;
  transition: 5s;
}

.card-giochi:hover {
  background: rgb(59, 63, 133);
  background: linear-gradient(
    90deg,
    rgba(59, 63, 133, 0.9251050762101716) 0%,
    rgba(230, 122, 125, 0.8858893899356618) 100%
  );
}
